*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .myName::before{
    content: "*";
    color: red;

}
.myName::after{
    content: "*";
    color: red;
} */

nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 80px;
    color: white;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin-right: 200px;
}
.navbar ul li{
    padding: 20px;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}
.navbar h1{
    margin-left: 100px;
    font-size: 40px;
    padding-top: 20px;
}
.navbar ul li a:hover{
    background-color: white;
    color: aqua;
    border-bottom: 2px;
}
.top{
    background-color: transparent;
    
}
.hero{
    background: url(/birds.jpg) no-repeat center center/cover;
    height: 100vh;
}
/* before */
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(255, 0, 10, 0.5); 

}
/* after */
.hero::after{
    color: rgb(60, 0, 255);
}
.hero *{
    z-index: 10;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    align-items: center;
}
.content h1{
    font-size: 70px;
}
.content p{
    font-size: 25px;
}

