*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: yellowgreen;
}
.navbar ul{
    display: flex;
    margin-right: 50px;
    list-style: none;
}
.navbar ul li{
    
    padding: 20px;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}
.navbar ul li a:hover{
    border-bottom: 3px solid red;
}
.navbar label{
    margin-right: 30px;
    display: none;
}
#click{
    display: none;
}

@media screen and (max-width:768px) {
    .navbar label{
        display: block;
    }
    .navbar ul{
        flex-direction: column;
        position: absolute;
        top: 80px;
        width:100% ;
        background-color: #333;
        text-align: center;
        display: none;

    }
    .navbar ul li a{
        color: red;
    }
    #click:checked ~ .navbar ul{
        display: block;
    }

    
}
