/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.container{
    background-color: pink;
    margin-top: 50px;
    margin-left: 50px;
     height: 2000px;
     display: flex;
    
}
.box{
    width: 100px;
    height: 100px;
    
}
.box1{
    background-color: blue;
     /* position: absolute; */
     /* z-index: 1px; */
     /* top: 3px */
    /* position: fixed;  */
    /* margin: 50px; */
    /* top: 0; */
    /* left:0; */
    /* right: 0; */
    /* bottom: 0; */

    
}
.box2{
    background-color: blueviolet;
    /* position: relative; */
    /* margin: 10px; */
    /* position: relative; */
    /* top: 12px; */
    /* bottom: 12px; */
    /* left: 10px; */
    /* right: 10px; */
   
    
}
.box3{
    background-color: aquamarine;
    /* position: fixed; */
    /* margin: 100px; */
    /* margin-left: 300px; */
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */

}
.box4{
    background-color: brown;
    /* /* position: sticky; */
    /* margin: 0px; */
} 
.box5{
    background-color: chartreuse;
}
