/* Multiple selector */
.mainheading{
    background-color: aqua;
    margin-left: 5%;
    margin-right: 79%;
    text-align: left;
    padding-left: 10px 10px;
}
.myheading{
    background-image: url(/images/women\ flower.jpg);
    color: red;
    text-align: center;
    font-size: 40px;
    padding: 10px 10px;
    margin-left: 40%;
    margin-right: 40%;
}
p{
    background-color: burlywood;
    padding: 10px 10px;
    
}

.circle{
    
    border: 3px solid red ;
    border-color: aqua;
    background-image: url(/images/women\ flower.jpg);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
}
.para p{
    background-color: cadetblue;
    color: blue;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 4px solid blueviolet;
    padding-left: 20px;
    padding-right: 20px;
    
}
.para p span{
    color: black;
    font-size: 20px;
    border: 4px solid white;
    border-radius: 30%;
}
.heading h1{
    background-color: rgb(0, 255, 240);
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    border-width: 4px;
    border: 8px solid red ;
    border-top-style: dotted;
    border-bottom-style: dashed;
    border-left-style: double;
    border-right-style: groove;
    font-size: 40px;
    
}
.thirdheading{
    border: 4px solid red;
    border-left-style: double;
    border-right-style: dotted;
    padding-left: 10px;
    padding-right: 10px;

}
.thirdheading h1{
    background-image: url(/images/women\ flower.jpg);
    background-position: center;
    /* background-repeat: no-repeat; */
    text-align: center;
    margin-left: 10%;
    margin-right: 15%;
    border: 8px solid green;
    color:saddlebrown;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;

}
.thirdheading ul{
    color: rgba(226, 43, 43, 0.934);
    justify-content: space-between;
    display: flex;
    text-align: right;
}
.thirdheading ul li{
    list-style: none;
    display: inline-block;
    
    background-image: url(/images/women\ flower.jpg);
    font-size: 40px   
}




