

body{
    background-color: pink;
}

/* element selector */
h3{
    background-color: yellow;
    font-size: 40px;
}
/* id selector */
#firsth{
    background-color: red;
    color: aliceblue;
}

/*  class selector */
.new{
    background-color: black;
    color: white;
}
.new a{
    color: aqua;
}
.new ul li{
    color: brown;
}

/* icon tag */
i {
    font-size: 40px;

}